<!DOCTYPE html>
<html>
	<head>
		<title>About Me</title>
		<link type = "text/css" rel = "stylesheet" href = "{{url_for('static', filename = 'css/style.css') }}"/>
		<link type = "image/x-icon" rel = "shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
	</head>
	<body class = "a">
		<div id = "container">
			<div id = "header">
				<h1 class = "a">About Me</h1>
			</div>
			<p class = "a">
				I am a third-year undergraduate student at the Georgia Institute of Technology, currently majoring in Chemical and Biomolecular Engineering. I was born in Atlanta, and have lived in Brussels and Philadelphia. My passion is bioengineering and I hope that I can find a job that allows me to conduct research to help others.
			</p>
			<div id = "returnHome">
				<p class = "a">
					<a class = "a" href = "/">Return Home</a>
				</p>
			</div>
		</div>
	</body>
</html>