<!DOCTYPE html>
<html>
	<head>
		<title>Contact Information</title>
		<link type = "text/css" rel = "stylesheet" href = "{{url_for('static', filename = 'css/style.css') }}"/>
		<link type = "image/x-icon" rel = "shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
	</head>
	<body class = "a">
		<div id = "container">
			<div id = "header">
				<h1 class = "a">Contact Me</h1>
			</div>
			<p class = "a">e-mail</p>
				<ul class = "a">
					<li>david.herszenhaut@gmail.com</li>
					<li>david.herszenhaut@gatech.edu</li>
				</ul>
			<p class = "a">phone</p>
				<ul class = "a">
					<li>(404)993-7732</li>
				</ul>
			<p class = "a">websites</p>
				<ul class = "a">
					<li><a class = "a" href = "www.linkedin.com/in/davidherszenhaut">LinkedIn</a></li>
					<li><a class = "a" href = "https://github.com/davidherszenhaut">GitHub</a></li>
				</ul>
			<p class = "a">social</p>
				<ul class = "a">
					<li><a class = "a" href = "https://www.facebook.com/david.herszenhaut">Facebook</a></li>
					<li><a class = "a" href = "https://twitter.com/DisapprovingDav">Twitter</a></li>
				</ul>
			<div id = "returnHome">
				<p class = "a">
					<a class = "a" href = "/">Return Home</a>
				</p>
			</div>
		</div>
	</body>
</html>