<!DOCTYPE html>
<html>
	<head>
		<title>Hobbies</title>
		<link type = "text/css" rel = "stylesheet" href = "{{url_for('static', filename = 'css/style.css') }}"/>
		<link type = "image/x-icon" rel = "shortcut icon" href = "{{ url_for('static', filename='favicon.ico') }}"/>
	</head>
	<body class = "a">
		<div id = "container">
			<div id = "header">
				<h1 class = "a">Hobbies</h1>
			</div>
			<p class = "a">
				My hobbies include playing coding, music, and video games. I play both the cello (which I learned) and the guitar (which I taught myself).
			</p>
			<h2 class = "a">Coding</h2>
				<p class = "a">
					I have created a few side projects, mostly in Python, for fun. My first project was a reddit bot that browses specific subreddits and responds to key phrases. This website you are currently viewing was also made using Flask, a Python web framework.
				</p>
			<h2 class = "a">Music</h2>
				<p class = "a">
					I have been playing cello and guitar for nine years. Ever since I started playing the cello, I have participated in school orchestras and extracurricular community orchestras. Most of my time playing guitar has been for personal enjoyment. I recently built a guitar.
				</p>
				<p class = "a">
					You can listen to some of the music I have written on <a class = "a" href = "https://soundcloud.com/synysterdavid-1">SoundCloud</a>.
				</p>
				<p class = "a">
					You can view some of my orchestral performances on <a class = "a" href = "https://www.youtube.com/user/StringMan527">YouTube</a>.
				</p>
			<h2 class = "a">Video Games</h2>
				<p class = "a">
					Video games have always been a way for me to relax and have fun with my friends. I even wrote a small text-based game in Python that you can play on this website.
				</p>
			<div id = "returnHome">
				<p class = "a">
					<a class = "a" href = "/">Return Home</a>
				</p>
			</div>
		</div>
	</body>
</html>