<!DOCTYPE html>
<html>
	<head>
		<title>R&eacute;sum&eacute;</title>
		<link type = "text/css" rel = "stylesheet" href = "{{url_for('static', filename = 'css/style.css') }}"/>
		<link type = "image/x-icon" rel = "shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
	</head>
	<body class = "a">
		<div id = "container">
			<div id = "header">
				<h1 class = "a">R&eacute;sum&eacute;</h1>
			</div>
			<div id = "content">
				<div id = "resumeEducation">
					<h1 class = "b">Education</h1>
					<b class = "a">Georgia Institute of Technology</b> <i class = "a">Atlanta, Georgia</i><span style = "float: right">August, 2014 - Present</span>
						<p class = "b">Chemical and Biomolecular Engineering</p>
					<b class = "a">Joseph Wheeler High School, Magnet Program</b> <i class = "a">Marietta, Georgia</i><span style = "float: right">Graduated May 2014</span>
						<p class = "b">SAT: 2140; ACT: 32</p>
				</div>
				<hr class = "a">
				<div id = "resumeExperience">
					<h1 class = "b">Experience</h1>
					<b class = "a"><a class = "a" href = "http://deerlandenzymes.com/">Deerland Enzymes</a></b> <i class = "a">Kennesaw, Georgia</i>
						<br>
						<i class = "a">Analytical Chemistry Intern</i><span style = "float: right">May, 2016 - August, 2016</span>
						<ul class = "b">
							<li class = "b">Assisted the Research Department with assays involving product viability and market potential.</li>
							<li class = "b">Designed and implemented a catalog for all reagents within the research laboratory</li>
						</ul>
					<b class = "a">Emory University School of Medicine</b> <i class = "a">Atlanta, Georgia</i>
						<br>
						<i class = "a">Research Assistant</i><span style = "float: right">February, 2014 - August, 2014; May, 2015 - July, 2015</span>
						<ul class = "b">
							<li class = "b">Assisted Emory Professor John W. Calvert with cardiothoracic research, Western Blotting, antiboy preparation, data collection, data analysis, tissue collection and preparation</li>
							<li class = "b">Studied biological function of various heart proteins (&beta;<sub>3</sub> adrenergic receptor, DJ-1, MFN1) to study cell death during cardiac ischemia and reperfusion</li>
							<li class = "b">Performed lab maintenance, equipment calibration, and darkroom setup</li>
							<li class = "b">Work sponsored by Emory University published in <i>Circulation Heart Failure</i> (<a class = "a" href = "http://circheartfailure.ahajournals.org/content/9/4/e002368.abstract">"Sodium Sulfide Attenuates Ischemic-Induced Heart Failure by Enhancing Proteosomal Function in an Nrf2-Dependent Manner"</a>)</li>
						</ul>
					<b class = "a"><a class = "a" href = "http://www.wheelermagnet.com/">Joseph Wheeler High School</a></b> <i class = "a">Marietta, Georgia</i>
						<br>
						<i class = "a">Intern</i><span style = "float: right">June, 2012 - August, 2012</span>
						<ul class = "b">
							<li class = "b">Aided AP Chemistry teacher Dr. John Cody in organic synthesis experiment involving copper tracing in plants</li>
						</ul>
						<i class = "a">Secretary, Tri-M Music Honor Society</i><span style = "float: right">August, 2013 - May, 2014</span>
						<ul class = "b">
							<li class = "b">Organized school-wide music-related events to raise awareness about music in the community</li>
						</ul>
						<i class = "a">Volunteer Tutor</i><span style = "float: right">August, 2013 - May, 2014</span>
						<ul class = "b">
							<li class = "b">Tutored second- and third-year students in Honors Biology and AP Biology</li>
						</ul>
				</div>
				<hr class = "a">
				<div id = "resumeSkills">
					<h1 class = "b">Skills</h1>
					<b class = "a">Biomedicine</b>
						<p class = "b">Western Blot, Gel Electrophoresis, PCR, Cell Culturing</p>
					<b class = "a">Instrumentation</b>
						<p class = "b">Micropipette, Electrophoresis Chamber, ChemiDoc Imager, Film Developer</p>
					<b class = "a">Languages</b>
						<p class = "b">Portuguese, Spanish</p>
					<b class = "a">Programming</b>
						<p class = "b">Familiar with Python (Flask), HTML5/CSS3, MATLAB</p>
				</div>
			</div>
			<div id = "returnHome">
				<p class = "a">
					<a class = "a" href = "/">Return Home</a>
				</p>
			</div>
		</div>
	</body>
</html>